<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meatchop.tmcpartner">

    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.usb.host" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/tmcicon_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/tmcicon_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.TMCPartnerApp"
        android:usesCleartextTraffic="true">
        <activity android:name=".Settings.SupplierVehicleTime_AddRecord"></activity>
        <activity android:name=".Settings.Phone_Sales_Report" />
        <activity android:name=".Settings.Phone_Orders_List" />
        <activity android:name=".Settings.Replacement_Refund_Transaction_Report" />
        <activity android:name=".Settings.WholeSaleOrdersList" />
        <activity android:name=".Settings.WholeSaleOrderSalesReport" />
        <activity android:name=".Settings.CreditOrders_MobileNumberwiseTransactionScreen" />
        <activity android:name=".Settings.CreditOrders_MobileNumberwise_Report" />
        <activity android:name=".MobileScreen_JavaClasses.Replacement_RefundClasses.AddReplacement_Refund_OrdersScreen" />
        <activity android:name=".Settings.Add_Replacement_Refund_Order.Replacement_Refund_OrderDetailsScreen" />
        <activity android:name=".Settings.Add_Replacement_Refund_Order.Add_Replacement_Refund_Screen" />
        <activity android:name=".Settings.GenerateUserDetailsReport" />
        <activity android:name=".Settings.ChangeMenuItemStatus_AllowNegativeStock_Settings" />
        <activity android:name=".Settings.ChangeMenuItemWeightAndPriceSecondScreen" />
        <activity android:name=".Settings.OrderAndRatingDetailsScreen" />
        <activity android:name=".Settings.RaisedTicketDetailsForRating" />
        <activity android:name=".MobileScreen_JavaClasses.Mobile_NewOrders.CartActivity_Mobile_NewOrdersScreen" />
        <activity android:name=".Settings.DatewiseRatingreport_SecondScreen" />
        <activity android:name=".Settings.DatewiseRatingreport_FirstScreen" />
        <activity android:name=".Settings.MenuItemAvailabilityStatusReport" />
        <activity
            android:name=".Settings.AddDunzoOrders"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Settings.AddWholeSalesOrder"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Settings.AddBigBasketOrder"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Settings.AddSwiggyOrders"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Settings.ConsolidatedSalesReportWeekwise" />
        <activity android:name=".Settings.DeviceListActivity" />
        <activity android:name=".Settings.TokenNoShowingActivity" />
        <activity android:name=".Settings.SlotwiseAppOrderslist" />
        <activity android:name=".Settings.MenuAvailabilityStatusTransaction" />
        <activity
            android:name=".Settings.PlotOrdersLocationWithTokenNo"
            android:label="Map" />
        <activity android:name=".Settings.testActivty" />
        <activity android:name=".Settings.ConsolidatedReportSubCtgywise" />
        <activity android:name=".Settings.CancelledOrders" />
        <activity android:name=".Settings.GenerateCustomerMobileNo_BillValueReport" />
        <activity android:name=".Settings.GenerateOrderDetailsDump" />
        <activity android:name=".Settings.Edit_Or_CancelOrder_OrderDetails_Screen" />
        <activity android:name=".Settings.Edit_Or_CancelTheOrders" />
        <activity android:name=".Settings.DeliveredOrdersTimewiseReport" />
        <activity android:name=".Settings.Pos_Orders_List" />
        <activity android:name=".Settings.App_Sales_Report_Subctgywise" />
        <activity android:name=".Settings.GetDeliverypartnersAssignedOrders" />
        <activity android:name=".Settings.searchScreen_OrderDetails" />
        <activity android:name=".Settings.searchOrdersUsingMobileNumber" />
        <activity android:name=".Settings.App_LaunchScreen" />
        <activity android:name=".Settings.DeliveryPartnerSettlementReport" />
        <activity android:name=".Settings.ChangeDelivery_Slot_Availability_Status" />
        <activity android:name=".Settings.ChangeMenuItem_Price_Settings" />
        <activity android:name=".Settings.MenuItem_List_Settings" />
        <activity android:name=".Settings.ChangeMenuItem_Availabilty_InTV_Settings" />
        <activity android:name=".Settings.AppSales_Report" />
        <activity android:name=".Settings.PosSalesReport" />
        <activity android:name=".Settings.Consolidated_Sales_Report" />
        <activity android:name=".Settings.ChangeMenuItemStatus_Settings" />
        <activity android:name=".MobileScreen_JavaClasses.ManageOrders.MobileScreen_OrderDetails1" />
        <activity android:name=".MobileScreen_JavaClasses.ManageOrders.MobileScreen_AssignDeliveryPartner1" />
        <activity android:name=".MobileScreen_JavaClasses.OtherClasses.MobileScreen_OtpVerificationActivity" />
        <activity android:name=".MobileScreen_JavaClasses.OtherClasses.MobileScreen_Dashboard" />
        <activity android:name=".PosScreen_JavaClasses.ManageOrders.Pos_OrderDetailsScreen" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/tmctransparent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/TMC_Orange" />
        <meta-data
            android:name="com.google.firebandroid.permission.SYSTEM_ALERT_WINDOWase.messaging.default_notification_channel_id"
            android:value="fetchh-channel" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".PosScreen_JavaClasses.ManageOrders.TrackingOrderDetails_ServiceClass"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".FetchAddressIntentService"
            android:enabled="true" />

        <activity android:name=".PosScreen_JavaClasses.ManageOrders.AssigningDeliveryPartner" />
        <activity android:name=".MobileScreen_JavaClasses.OtherClasses.Mobile_Vendor_Selection_Screen" />
        <activity
            android:name=".PosScreen_JavaClasses.Other_javaClasses.Pos_Dashboard_Screen"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Printer_Demo_activity" />
        <activity android:name=".PosScreen_JavaClasses.Other_javaClasses.Pos_Vendor_Selection_Screen" />
        <activity
            android:name=".MobileScreen_JavaClasses.OtherClasses.Mobile_LoginScreen"
            android:exported="true" />
        <activity
            android:name=".PosScreen_JavaClasses.Other_javaClasses.Pos_LoginScreen"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".PosScreen_JavaClasses.Other_javaClasses.Pos_Dashboard_Screen"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.example.USB_PERMISSION.BillingScreen" />
                <action android:name="com.android.example.USB_PERMISSION.ManageOrders" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Settings.AddSwiggyOrders"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.example.USB_PERMISSION.AddSwiggyOrders" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Settings.AddWholeSalesOrder"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.example.USB_PERMISSION.AddWholeSalesOrder" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Settings.AddBigBasketOrder"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.example.USB_PERMISSION.AddBigBasketOrder" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Settings.AddDunzoOrders"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.example.USB_PERMISSION.AddDunzoOrders" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Settings.PosSalesReport"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.example.USB_PERMISSION.PosSalesReport" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Settings.App_Sales_Report_Subctgywise"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.example.USB_PERMISSION.AppSalesReportSubCtgyWise" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Settings.ConsolidatedSalesReportWeekwise"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.example.USB_PERMISSION.ConsolidatedSalesReportWeekwise" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Settings.WholeSaleOrderSalesReport"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.example.USB_PERMISSION.WholeSaleOrderSalesReport" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Settings.searchOrdersUsingMobileNumber"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.example.USB_PERMISSION.APPOrdersList" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Settings.Pos_Orders_List"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.example.USB_PERMISSION.POSOrdersList" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Settings.WholeSaleOrdersList"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.example.USB_PERMISSION.WholeSaleOrdersList" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>