<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meatchop.tmcpartner">

    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.usb.host" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/tmcicon_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/tmcicon_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.TMCPartnerApp"
        android:usesCleartextTraffic="true">



        <service android:name=".asynctaskforprinter.BackgroundServiceForPrintingReceipt2"
            android:enabled="true"
            android:exported="false"
            />
        <service android:name=".asynctaskforprinter.BackgroundServiceForPrintingReceipt"
            android:enabled="true"
            android:exported="false"/>
        <activity android:name=".settings.DeliverySlotsTransactionDetailsReport">

        </activity>
        <activity android:name=".settings.DeliverySlotsListForTransactionReport" />
        <activity android:name=".mobilescreen_javaclasses.mobile_neworders.NewOrderBarcodeScannerScreen" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity android:name=".settings.SupplierVehicleTime_AddRecord" />
        <activity android:name=".settings.Phone_Sales_Report" />
        <activity android:name=".settings.Phone_Orders_List" />
        <activity android:name=".settings.Replacement_Refund_Transaction_Report" />
        <activity android:name=".settings.WholeSaleOrdersList" />
        <activity android:name=".settings.WholeSaleOrderSalesReport" />
        <activity android:name=".settings.CreditOrders_MobileNumberwiseTransactionScreen" />
        <activity android:name=".settings.CreditOrders_MobileNumberwise_Report" />
        <activity android:name=".mobilescreen_javaclasses.replacement_refund_classes.AddReplacement_Refund_OrdersScreen" />
        <activity android:name=".settings.add_replacement_refund_order.Replacement_Refund_OrderDetailsScreen" />
        <activity android:name=".settings.add_replacement_refund_order.Add_Replacement_Refund_Screen" />
        <activity android:name=".settings.GenerateUserDetailsReport" />
        <activity android:name=".settings.ChangeMenuItemStatus_AllowNegativeStock_Settings" />
        <activity android:name=".settings.ChangeMenuItemWeightAndPriceSecondScreen" />
        <activity android:name=".settings.OrderAndRatingDetailsScreen" />
        <activity android:name=".settings.RaisedTicketDetailsForRating" />
        <activity android:name=".mobilescreen_javaclasses.mobile_neworders.CartActivity_Mobile_NewOrdersScreen" />
        <activity android:name=".settings.DatewiseRatingreport_SecondScreen" />
        <activity android:name=".settings.DatewiseRatingreport_FirstScreen" />
        <activity android:name=".settings.MenuItemAvailabilityStatusReport" />
        <activity
            android:name=".settings.AddDunzoOrders"
            android:windowSoftInputMode="adjustPan"
            android:exported="true"
            />
        <activity
            android:name=".settings.AddWholeSalesOrder"
            android:windowSoftInputMode="adjustPan"
            android:exported="true"

            />
        <activity
            android:name=".settings.AddBigBasketOrder"
            android:windowSoftInputMode="adjustPan"
            android:exported="true"

            />
        <activity
            android:name=".settings.AddSwiggyOrders"
            android:windowSoftInputMode="adjustPan"
            android:exported="true"

            />
        <activity android:name=".settings.ConsolidatedSalesReportWeekwise"
            android:exported="true"
            />
        <activity android:name=".settings.DeviceListActivity"
            android:exported="true"
            />
        <activity android:name=".settings.TokenNoShowingActivity"
            android:exported="true"
            />
        <activity android:name=".settings.SlotwiseAppOrderslist"
            android:exported="true"
            />
        <activity android:name=".settings.MenuAvailabilityStatusTransaction"
            android:exported="true"
            />
        <activity
            android:name=".settings.PlotOrdersLocationWithTokenNo"
            android:label="Map"
            android:exported="true"
            />
        <activity android:name=".settings.testActivty"
            android:exported="true"
            />
        <activity android:name=".settings.ConsolidatedReportSubCtgywise"
            android:exported="true"
            />
        <activity android:name=".settings.CancelledOrders"
            android:exported="true"
            />
        <activity android:name=".settings.GenerateCustomerMobileNo_BillValueReport"
            />
        <activity android:name=".settings.GenerateOrderDetailsDump" />
        <activity android:name=".settings.Edit_Or_CancelOrder_OrderDetails_Screen" />
        <activity android:name=".settings.Edit_Or_CancelTheOrders" />
        <activity android:name=".settings.DeliveredOrdersTimewiseReport" />
        <activity android:name=".settings.Pos_Orders_List" />
        <activity android:name=".settings.App_Sales_Report_Subctgywise" />
        <activity android:name=".settings.GetDeliverypartnersAssignedOrders" />
        <activity android:name=".settings.searchScreen_OrderDetails" />
        <activity android:name=".settings.searchOrdersUsingMobileNumber" />
        <activity android:name=".settings.App_LaunchScreen" />
        <activity android:name=".settings.DeliveryPartnerSettlementReport" />
        <activity android:name=".settings.ChangeDelivery_Slot_Availability_Status" />
        <activity android:name=".settings.ChangeMenuItem_Price_Settings" />
        <activity android:name=".settings.MenuItem_List_Settings" />
        <activity android:name=".settings.ChangeMenuItem_Availabilty_InTV_Settings" />
        <activity android:name=".settings.AppSales_Report" />
        <activity android:name=".settings.PosSalesReport" />
        <activity android:name=".settings.Consolidated_Sales_Report" />
        <activity android:name=".settings.ChangeMenuItemStatus_Settings" />
        <activity android:name=".mobilescreen_javaclasses.manage_orders.MobileScreen_OrderDetails1" />
        <activity android:name=".mobilescreen_javaclasses.manage_orders.MobileScreen_AssignDeliveryPartner1" />
        <activity android:name=".mobilescreen_javaclasses.other_classes.MobileScreen_OtpVerificationActivity" />
        <activity android:name=".mobilescreen_javaclasses.other_classes.MobileScreen_Dashboard" />
        <activity android:name=".posscreen_javaclasses.manage_orders.Pos_OrderDetailsScreen" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/tmctransparent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/TMC_Orange" />
        <meta-data
            android:name="com.google.firebandroid.permission.SYSTEM_ALERT_WINDOWase.messaging.default_notification_channel_id"
            android:value="fetchh-channel" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".posscreen_javaclasses.manage_orders.TrackingOrderDetails_ServiceClass"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".FetchAddressIntentService"
            android:enabled="true" />

        <activity android:name=".posscreen_javaclasses.manage_orders.AssigningDeliveryPartner" />
        <activity android:name=".mobilescreen_javaclasses.other_classes.Mobile_Vendor_Selection_Screen" />
        <activity
            android:name=".posscreen_javaclasses.other_java_classes.Pos_Dashboard_Screen"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity android:name=".Printer_Demo_activity" />
        <activity android:name=".posscreen_javaclasses.other_java_classes.Pos_Vendor_Selection_Screen" />
        <activity
            android:name=".mobilescreen_javaclasses.other_classes.Mobile_LoginScreen"
            android:exported="true" />
        <activity
            android:name=".posscreen_javaclasses.other_java_classes.Pos_LoginScreen"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".posscreen_javaclasses.other_java_classes.Pos_Dashboard_Screen"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.example.USB_PERMISSION.BillingScreenWeightMachine" />
                <action android:name="com.android.example.USB_PERMISSION.BillingScreen" />
                <action android:name="com.android.example.USB_PERMISSION.ManageOrders" />
                <action android:name="receiverForCompletePrintingtheReceipt" />

            </intent-filter>
        </receiver>
        <receiver
            android:name=".settings.AddSwiggyOrders"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.example.USB_PERMISSION.AddSwiggyOrders" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".settings.AddWholeSalesOrder"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.example.USB_PERMISSION.AddWholeSalesOrder" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".settings.AddBigBasketOrder"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.example.USB_PERMISSION.AddBigBasketOrder" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".settings.AddDunzoOrders"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.example.USB_PERMISSION.AddDunzoOrders" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".settings.PosSalesReport"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.example.USB_PERMISSION.PosSalesReport" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".settings.App_Sales_Report_Subctgywise"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.example.USB_PERMISSION.AppSalesReportSubCtgyWise" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".settings.ConsolidatedSalesReportWeekwise"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.example.USB_PERMISSION.ConsolidatedSalesReportWeekwise" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".settings.WholeSaleOrderSalesReport"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.example.USB_PERMISSION.WholeSaleOrderSalesReport" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".settings.searchOrdersUsingMobileNumber"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.example.USB_PERMISSION.APPOrdersList" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".settings.Pos_Orders_List"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.example.USB_PERMISSION.POSOrdersList" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".settings.WholeSaleOrdersList"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.example.USB_PERMISSION.WholeSaleOrdersList" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>